html, body,#root  {
  font: 0.9rem sans-serif;
  background: #0a1f44;
  color: #1e2432;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}

tr {
  margin-top: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


.main-container {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418) );
  background-image: url("https://media.istockphoto.com/photos/magnifying-with-wooden-alphabets-around-on-yellow-background-picture-id1200976833?k=6&m=1200976833&s=612x612&w=0&h=RdUo0OKGGV2eMXWxQoAquGMFp90skdogV57tCRgGmoE=");
  background-size: cover;
  background-position: center;
}

.main-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-title {
  font-weight: bold;
  color: #fff;
  display: block;
  background-color:rgba(255, 255, 255, 0.199);
  padding: 20px;
  border-radius: 15px;
}
.search {
  outline: none;
  padding: 20px 7%;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  margin-top: 5%;
  background: rgba(250, 250, 250, 0.85);
  color: #222018;
  font-size: initial;
}
.language {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}
.language-options {
  outline: none;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background: rgba(250, 250, 250, 0.85);
  background-color: rgb(101, 126, 179);
  color: #19f1df;
}

.language-options:hover {
  background: rgba(250, 250, 250, 0.85);
  color: rgb(101, 126, 179);
  border: solid 1px rgb(101, 126, 179);
}

.is-checked {
  background-color: rgba(250, 250, 250, 0.85);
  color: blue;
}

.is-block {
  display: none;
}

.meaning-content {
  background: rgba(250, 250, 250, 0.85);
  width: 50%;
  margin-bottom: 30px;
  border: 2px solid rgb(218, 37, 37);
  border-radius: 10px;
  height: 360px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.dict--title {
  font-size: initial;
  font-weight: bold;
  color:rgb(101, 126, 179);
}

.dict--content {
  padding: 10px;
  font-size: initial;
}

th, h3.error-fetch {
  font-size: 20px;
  font-weight: bold;
  color: rgb(218, 37, 37);
}
.content-table {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .meaning-content {
    width: 98%;
    margin-bottom: 20px !important;
  }
}